{% extends 'base.html' %}
{% block main %}
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/user/dashboard/{{message}}/{{message}}/{{message}}">Groc(every)-day</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Groc(every)-day</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link" href="/user/cart/{{total}}">Cart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
        </div>
      </div>
    </div>
  </nav>
<center>
    <br>
    <br>
    <h1>Add To Cart</h1>
    <br>
    <b>Product Name: </b>{{pdt.name}}<br>
    <b>Price:</b> {{pdt.price}} per {{pdt.unit}}<br>
    <b>Stock Avl:</b> {{pdt.stock}} {{pdt.unit}}<br>
        <form method="POST" action="/user/category/{{cat.id}}/product/{{pdt.id}}/add">
<label>Units: </label><input type="number" name="units" step="1" min="1" max="{{pdt.stock}}"><br>
<input type="submit" value="Add To Cart">
</form>
</center>
{% endblock %}