{% extends 'base.html' %}
{% block main %}

<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/user/dashboard/{{message}}">Groc(every)-day</a>
    <form class="d-flex" role="search" action="/user/search" method="POST">
      <input class="form-control me-2" type="search" placeholder="Search" name="catname">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Groc(every)-day</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" href="/user/cart/{{total}}">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/checkout">Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
      </ul>
      </div>
    </div>
  </div>
</nav>
<br>


<div class="row row-cols-3 row-cols-sm g-4">

{% if category %}
{%for cat in category %}

<div class="col">
<div class="card" style="width:18rem;">
  <div class="card-body">
    <h5 class="card-title">{{cat.name}}</h5>
    <p class="card-text">{{cat.desc}}</p>
    <a href="/user/category/{{cat.id}}/products" class="btn btn-primary">View Products</a>
</div>
</div>
</div>
{% endfor %}
{% endif %}
</div>
{% endblock %}