{% extends 'base.html' %}
{% block main %}

<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/admin/dashboard">Groc(every)-day</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Groc(every)-day</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
      </ul>
      </div>
    </div>
  </div>
</nav>
<br>
<div class="row row-cols-3 row-cols-sm g-4">

    {% if cat %}
    {%for c in cat %}
    
    <div class="col">
    <div class="card" style="width:18rem;">
      <div class="card-body">
        <h5 class="card-title">{{c.name}}</h5>
        <p class="card-text">{{c.desc}}</p>
        <a href="/user/category/{{c.id}}/products" class="btn btn-primary">View Products</a>
    </div>
    </div>
    </div>
    {% endfor %}
    {%else%}
    <p>Search returned no results</p>
    {% endif %}
</div>
<center><a class="btn btn-primary" href="/user/dashboard/{{message}}" role="button">Back to Home Page</a></center>
{% endblock %}