{% extends 'base.html' %}
{% block main %}

<nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/user/login/{{message}}">Groc(every)-day</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Groc(every)-day</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link" href="/user/login/{{message}}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/login/{{message}}">Admin Login</a>
                  </li>
            </ul>
            </div>
          </div>
        </div>
      </nav>
    <center>
        <br>
        <h1>User Registration</h1>
        <br>
        <table>
            <form method="POST" action="/user/signup">
                <tr>
                    <td><label>Name</label></td>
                    <td>
                        <input type="text" name="name" placeholder="Name">
                    </td>
                </tr>
                <tr>
                    <td><label>Username</label></td>
                    <td>
                        <input type="text" name="username" placeholder="Username">
                    </td>
                </tr>
                <tr>
                    <td><label>Email address</label></td>
                    <td>
                        <input type="email" name="email" placeholder="name@example.com">
                    </td>
                </tr>
                <tr>
                    <td><label>Password</label></td>
                    <td>
                        <input type="password" name="password" placeholder="Password">
                    </td>
                </tr>
                
            
        </table>
        <input type="submit" value="Sign Up">
    </form>
    </center>
{% endblock %}